<!DOCTYPE html>
<html>
<head>
	<title>User App</title>
	<head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
</head>
<style type="text/css">
	.ft{
		font-size:10px;
	}
	.pd{
		padding-left:80px;
	}
	.pd1{
		padding-left:60px;
	}
	.brd{
		border-width:1px;  
    	border-style:solid;
	}
	.pred{
		padding-bottom:10px;
	}
</style>
<body>
<header>
	<nav>
    <div class="nav-wrapper black">
      <a href="list" class="brand-logo center">Customer Data Analytics</a>
          <ul class="left hide-on-med-and-down">
                       </ul>
          <ul class="right hide-on-med-and-down">
              <li><a href="help" title="Create Shipment">Help</a></li>
          </ul>
    </div>
  </nav>
</header>
<div id="pjax-container">
    <div id="content">
    <div class="container" style="width:1200px;height:750px;">
      {% block content %}
      {% endblock  %}
    </div>
    </div>
</div>

<footer class="page-footer black">
          <div class="container">
          </div>
          <div class="footer-copyright">
            <div class="container">
            <a class="grey-text text-lighten-4 right" href="#!">© 2018 Rohit Simple Django App</a>
            </div>
          </div>
        </footer>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript">
	M.AutoInit();
</script>
</body>
</html>